@model ProductCatalog.DTO.ProductDTO

@{
    ViewData["Title"] = "Create";
}

<h4>Создание нового продукта</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="None" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" onkeypress="return formatInput(event, this)" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneralNote" class="control-label"></label>
                <input asp-for="GeneralNote" class="form-control" />
                <span asp-validation-for="GeneralNote" class="text-danger"></span>
            </div>
            @if (User.IsInRole("SuperUser"))
            {
                <div class="form-group">
                    <label asp-for="SpecialNote" class="control-label"></label>
                    <input asp-for="SpecialNote" class="form-control" />
                    <span asp-validation-for="SpecialNote" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>
